@font-face {
   font-family: myFirstFont;
   src: url(font.ttf);
}
@font-face {
   font-family: headfont;
   src: url(comic1.ttf);
}



body{
    margin: 5px;
    padding :5px 15px;
    background:black;
    background-image: url("backg2.jpg");

}


header{
    background: #cff6cf;
    text-align: center;
    background-image: url(cover.jpg) ;
    background-size: cover;
    height :200%; 
    padding-bottom: 5%;
    display: block;
    

}

h2 {
    font-size: 130%;
    color:#ffffff;
    font-family:headfont;
    text-shadow: 2px 2px #008000;
    text-align: center;

}

.left >h2{
   color: #ffffff;
  font-family:headfont;
  font-size: 150%;
  text-shadow: 2px 2px #008000;
}


h1{
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration-style: solid;
    padding-bottom:20px;
    font-size: 250%;
    color: #ffffff;
    font-family:myFirstFont;
    text-shadow: 2px 2px #008000;
}
h1:hover{
    color: #00FF00;
}

nav {
    color: #000000;
}

p {
  font-family: headfont;
}


    
.left img{
        
        display: block;
        height: 90px;
        width: 150px;
        border: 2px solid black;
        margin-bottom: 40px;
        -webkit-transform: height,width,transform;
        -o-transform: height,width,transform;
        -moz-transform: height,width,transform;
        transform: height,width,transform;
        -webkit-transition-duration: .5s,.5s,.5s;
        -o-transition-duration: .5s,.5s,.5s;
        -moz-transition-duration: .5s,.5s,.5s;
        transition-duration: .5s,.5s,.5s;     
  }
  .left img:hover{
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
    
nav a{
    margin-left:80px;
    margin-bottom: 20px;
    padding: 10px;
    width:10%;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: #000000;
    background: rgba(246,222,246,.5) ;
    font-weight: bold;
    -webkit-transition: width,height,transform;
    -o-transition: width,height,transform;
    -moz-transition: width,height,transform;
    transition: width,height,transform;
    -webkit-transition-duration: .5s,.5s,.5s;
    -o-transition-duration: .5s,.5s,.5s;
    -moz-transition-duration: .5s,.5s,.5s;
    transition-duration: .5s,.5s,.5s;
    display: inline-block;

}

nav a:hover {
    background-color: #38ACEC;
    width:200px;

    }
 .active {
    background-color: #FFFFFF;
}
 

.left{
    background: linear-gradient(to bottom, #33ccff 0%, #99ff66 100%);
    -webkit-background: linear-gradient(to bottom, #33ccff 0%, #99ff66 100%);
    -o-background: linear-gradient(to bottom, #33ccff 0%, #99ff66 100%);
    -moz-background: linear-gradient(to bottom, #33ccff 0%, #99ff66 100%);
    display:inline-block;
    padding: 3%;
    float:left;
    
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.right{
    -webkit-background: linear-gradient(to bottom, #33ccff 0%, #0066cc 100%);
    -o-background: linear-gradient(to bottom, #33ccff 0%, #0066cc 100%);
    -moz-background: linear-gradient(to bottom, #33ccff 0%, #0066cc 100%);
    background: linear-gradient(to bottom, #33ccff 0%, #0066cc 100%);
    font-family: Arial,"Times New Roman",serif;
    margin-left: 5px;
    display:inline-block;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2%;
    box-sizing: border-box;
    width: 75%;
    
    
}
.right >p:hover {
    background: rgba(50,205,50,.3) ;
}

#click
{
  border-radius: 10%;
  background-color:rgba(255,255,255,.5);
  
  
}
td>button > a
{

  text-decoration: none;
}
table{
    margin-left:7%;
    margin-top: 2%;
    margin-right: 7%;
}
th{
    -webkit-background: linear-gradient(to bottom, #3333cc 0%, #33ccff 100%);
    -o-background: linear-gradient(to bottom, #3333cc 0%, #33ccff 100%);
    -moz-background: linear-gradient(to bottom, #3333cc 0%, #33ccff 100%);
    background: linear-gradient(to bottom, #3333cc 0%, #33ccff 100%);
    -webkit-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    border:.5px solid #000000;
    text-shadow: .5px .5px green;
    padding:1%;
    width: 10%;
    
}
td{
    background-color: #ffffff;
    font-size: 100%;
    padding:1%;
    -webkit-opacity: .5;
    -o-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;


}
td:first-child { text-align:left; }
td:nth-child(2) { text-align:center; }
td:nth-child(3) { text-align:center; }
td:hover{
    -webkit-opacity: 1;
    -o-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  background: rgba(246,222,246,.5) ;
}


footer{
 height:10%;
  left: 0;
  margin-top: 10%;
  bottom: 0;
  width: 100%;
  background-color:rgba(8, 8, 8, 1);
  color: white;
  text-align: center;
  border-radius: 30%;
  position: bottom;
  
}
#heart{ 

 color: red;
}
#heart:hover{
 
  color: white;

}

.social{
  
  bottom:0;
  

  
}

.social img{
  display: inline;
  width:3%;
  margin-left: 2%;
  border-radius: 150px;
  background:rgb(254, 255, 255) ;
  -webkit-transform: height,width,transform;
        -o-transform: height,width,transform;
        -moz-transform: height,width,transform;
        transform: height,width,transform;
        -webkit-transition-duration: .5s,.5s,.5s;
        -o-transition-duration: .5s,.5s,.5s;
        -moz-transition-duration: .5s,.5s,.5s;
        transition-duration: .5s,.5s,.5s;    
}
.social img:hover{
  -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    background: white;

}
.credit
{
 color: #ffffff;
 text-align: center;
 padding: 2px;
 border-radius: 50%;
}



/*  Collab */
#collab
{
 margin-top: 10%;
 
}

/*  Guitar */
#guitar
{
 margin-top: 10%;
}

/*  Vlogs */
#vlogs
{
 margin-top: 10%;
 
}
.subtext
{
   background: rgba(253, 253, 253, 0.5);
}
::placeholder
{
  opacity: 1;
  color:white;
}
.sub
{
  background-color: rgba(255,255,255,.5);
  border-radius: 20%;
}
.submit:hover
{
  background-color:white;
  color:black;
}
.icon
{
  display:none;
}
.dropbtn
{
  display:none;
}

.dropdown-content
{
  display: none;
}

/*-----------------------------------------------------------------*/
@media (max-width: 880px)
{
  
  .dropbtn
  {
    display:inline;
  }
  #leftg
  {
   margin-top: 20%;
  }
  .left img
  {
    display:inline;
    width: 130px;
    height: 100px;
  }
  
  #imageshide
  {
    display:none;
  }
 
  .right
  {font-size: 80%;
    margin-left: 10%;
    margin-top: 20%;
  }
 
  nav
  {
    display:none;
  }

  

  /*  Collab */
#collab
{
 margin-top: 20%;
 
}

/*  Guitar */
#guitar
{
 margin-top: 30%;
}

/*  Vlogs */
#vlogs
{
 margin-top: 30%;
 
} 
.social img
{
  height:30px;
  width:30px;
}
}
/* nav meadia query for mobile view ------------------------------------------------------------------------------------*/
@media (max-width: 880px){
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 40%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(198, 250, 241, 0.9);
    width: 78px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 30%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgba(0,0,0,0.2);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

}

/*----------------for smalll screens---------------------------------------------------------------------------*/

@media (max-width: 350px)
{
  .dropbtn
  {
    display:inline;
  }
  
  .left img
  {
    display:inline;
    width: 110px;
    height: 70px;
  }
  
  #imageshide
  {
    display:none;
  }
 
  .right
  {font-size: 70%;
    margin-left: 10%;
    margin-top: 20%;
  }
 
  nav
  {
    display:none;
  }

  /*  Collab */
#collab
{
 margin-top: 10%;
 
}

/*  Guitar */
#guitar
{
 margin-top: 30%;
}

/*  Vlogs */
#vlogs
{
 margin-top: 30%;
 
} 
footer
{
  margin-top: 30%;
}
.social img
{
  height:30px;
  width:30px;
}
}
/* nav meadia query for mobile view   ----------------------------------------------------*/
@media (max-width: 350px){
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 40%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(198, 250, 241, 0.9);
    width: 78px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 30%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: rgba(0,0,0,0.2);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

}

